
<!-- HeaderComponent to be displayed as part of AppComponent -->
<app-header></app-header>

<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>

<!-- To add notes -->
<div class="mat-expansion-panel-container" >
<mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Take a note
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="note-taker-form-container">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="title" [(ngModel)]= "note.title" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="text" [(ngModel)]= "note.text"></textarea>
            </mat-form-field>
            <button mat-raised-button (click)= "takeNote()" >Done</button>
    </div>
</mat-expansion-panel>
</mat-accordion>
</div>

<!-- Load and display the collection of notes from server as Material Cards with card title set to note title and card content set to note text  -->
<div class="note-card-container">
  <mat-card class="example-card" *ngFor="let note of noteList">
    <mat-card-header>
      <mat-card-title>{{note.title}}</mat-card-title >
    </mat-card-header>
    <mat-card-content>
      <p>{{note.text}}</p>
    </mat-card-content>
  </mat-card>
</div>